body{
  background-color: rgb(241, 231, 213);
}
.App{
  background-color: white;
  min-height:500px;
  width: 40%;
  position: relative;
  float: left;
}

#to-do-form input{
  background-color: lightgreen;
  border: 0; 
  color: black;
  width: 200px;
  height: 30px;
  margin: 10px;
  padding: 0 20px;
  font-size: 18px;
  border-radius: 10px;
}
#to-do-form input::placeholder{
  color: rgba(255,255,255,0.5);
}
#to-do-form input:focus, #to-do-form button:focus {
  outline: none;
}
#to-do-form button{
  height: 50px;
  width: 80px;
  border-radius: 100px;
  border: 0;
  background-color:lightgreen; 
  cursor: pointer;
}

.dodawanie {
  background-color: white;
  position: sticky;
  bottom: 0%;
}
.pustka {
  background-color: rgb(241, 231, 213);
  height: 1000px;
  width: 30%;
  float: left;
}
.pustka2 {
  background-color: rgb(241, 231, 213);
  height: 1000px;
  width: 30%;
  float: right;
}
.Dzien-nazwa {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;

  margin-top: 40px;
  background-color: white;
  color: black;
  height: 40px;
  width: 14%;
  font-size: 30px;
  float: right;
}
.Dzien {
  justify-content: flex-start;
  align-items: center;
  text-align: right;

  margin-top: 40px;
  background-color: white;
  color: black;
  height: 40px;
  width: 6%;
  font-size: 30px;
  float: left;
}
.MiesiacRok {
  justify-content: flex-start;
  align-items: center;
  text-align: left;

  margin-top: 40px;
  background-color: white;
  color: black;
  height: 40px;
  width: 20%;
  font-size: 15px;
  float: left;
}

.list{
    background-color: white;
    color: black;
    width: 70%;
    margin: 5px auto;
    height: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;

    margin-top: -1.3px; 
    line-height: 5px;
    display: block;
    position: relative;
    line-height: 1px;  
}

